<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Andranik Atoyan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/stylesheets/main.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Dosis|Major+Mono+Display|Montserrat|Secular+One"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navbar -->
    <div class="mx-auto">
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
         <div class="container-fluid"> <span id="navbarName"> 
          <span id="1" hidden>A</span>
          <span id="2" hidden>n</span>
          <span id="3" hidden>d</span>
          <span id="4" hidden>r</span>
          <span id="5" hidden>a</span>
          <span id="6" hidden>n</span>
          <span id="7" hidden>i</span>
          <span id="8" hidden>k</span>
          <span>&#8203;</span>
          <span id="9" hidden>A</span>
          <span id="10" hidden>t</span>
          <span id="11" hidden>o</span>
          <span id="12" hidden>y</span>
          <span id="13" hidden>a</span>
          <span id="14" hidden>n</span>
          <span id='mode'style="display:none"><%=mode %></span>
        </div>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav"></ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link " href="/download">
                <span id="downloadText" >
               </span
                ><i class="far fa-hand-point-right fa-1x"></i>
                 <span>CV</span><br />
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- Navbar End -->

    <!--backgroundImage-->
    <div class="backgroundImage text-center">
      


       
        <!-- About -->

        <div class="about " id="about" >
          <h1 id='about-title'>
            <br />
            <br />
           
            hi!
            <hr />
            <br>
          </h1>
          <p>
            <h3 id="about-text" class="container">
                 My name is Andranik Atoyan and I am passionate about Web Technologies.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aut delectus ipsum ullam. Modi eligendi ut odit, maiores nostrum quibusdam non? Maxime blanditiis quaerat in eveniet, quibusdam iusto fuga velit.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, consectetur magnam nulla similique quos illum eveniet, facilis libero tenetur repudiandae, doloremque asperiores debitis? Quas ex corporis, eaque natus itaque nulla!
                 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi quidem officiis cupiditate eos architecto sed velit eaque provident natus laudantium consectetur repellendus magni, soluta, aut perferendis voluptate facilis aliquam? Praesentium.
                 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora labore ducimus ullam quis quibusdam. Eius culpa ad totam libero aspernatur nemo? Veniam nam incidunt consequatur fugit quae porro repellat tenetur?
            </h3>
          </p>

          <hr>
        
        </div>
        <div id='navigation-arrow' class="fixed-bottom">
            
            <i
       onmouseover="this.style.cursor='pointer'"
       class="fas fa-chevron-down fa-3x"
       id="downButton"
     style="color:white"></i>
     
        </div>
        <!-- contact End -->
    

<!-- Projects -->

<div class="projects mt-5" id="projects" >
  <h1 id="projectsTitle">
    
    projects
    <hr  />
    <br />
    <br />
  </h1>
  <div class="row" >
    <div class="col-md">
      <div class="card-transparent" style="width: 18rem;">
        <img
          src="files/devground.gif"
          class="card-img-top thumbnail img-fluid"
          alt="DevGround"
        />
        <div class="card-body">
          <h5 class="card-title">DevGround</h5>
          <p class="card-text">
            Social Network For Developers
          </p>
          <a
            href="https://devgroundapp.herokuapp.com/"
            class="btn btn-info"
            >Go</a
          >
          <a
            href="https://github.com/atoyan/DevGround"
            class="btn btn-success"
            >GitHub</a
          >
        </div>
      </div>
    </div>
    <div class="col-md text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero tempore quaerat natus optio doloribus similique illo animi aperiam molestiae dolores! Repellat quod dolor voluptates quidem consequatur tempora quos accusantium enim!</div>
    
   
  </div>
  <hr>
  <div class="row">
      <div class="col-md">
          <div class="card-transparent" style="width: 18rem;">
            <img
              class="thumbnail card-img-top img-fluid"
              src="files/yelpcamp.gif"
              class="card-img-top"
              alt="YelpCamp"
            />
            <div class="card-body">
              <h5 class="card-title">YelpCamp</h5>
              <p class="card-text">
                A Website For Campers
              </p>
              <a
                href="http://websiteforcampers.herokuapp.com/"
                class="btn btn-info"
                >Go</a
              >
              <a
                href="https://github.com/atoyan/YelpCamp"
                class="btn btn-success"
                >GitHub</a
              >
            </div>
          </div>
          
        </div>
        <div class="col-md text-left">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit corrupti minima voluptates nisi consequuntur! A officia laborum veniam incidunt quae laboriosam mollitia deleniti saepe voluptatibus, velit vel nobis voluptas eaque?
        </div>
  </div>
     
  
</div>

<!-- Projects End -->

  

      

      <!-- backGround Image End-->
    </div>
    <!-- Footer -->
    <div>
      <div class="footer bg-dark  text-white p-3 text-center ">
        Copyright © <%= new Date().getFullYear() %> Andranik Atoyan
      </div>
    </div>

    <!-- Footer End -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
