<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Andranik Atoyan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/stylesheets/main.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Dosis|Secular+One"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
      <a class="navbar-brand" href="/">
        <span id="navbarName"> \____Andranik Atoyan___/ </span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav"></ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link " href="/download">
              <i class="fas fa-file-pdf"></i
              ><span id="downloadText" style="text-decoration-line: underline">
                Resume
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Navbar End -->

    <!--backgroundImage-->
    <div class="backgroundImage">
      <div class="container text-center ">
        <!-- Projects -->

        <div class="projects" id="projects">
          <div class="row">
            <div class="col-xs"></div>
            <div class="col-md">
              <h1>
                Projects
              </h1>
              <h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
                ut ipsam, alias veritatis id ab maiores maxime perspiciatis
                nobis, eaque odio eum ad? Vero doloribus hic iste nostrum nisi
                laudantium!
              </h3>
              <a href="#contact">Contact</a>
            </div>
            <div class="col-xs"></div>
          </div>
        </div>

        <!-- Projects End -->
        <!-- Contact -->

        <div class="contact" id="contact">
          <div class="row">
            <div class="col-xs"></div>
            <div class="col-md-12">
              <h1>
                Contact
              </h1>
              <h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
                ut ipsam, alias veritatis id ab maiores maxime perspiciatis
                nobis, eaque odio eum ad? Vero doloribus hic iste nostrum nisi
                laudantium!
              </h3>
            </div>
            <div class="col-xs"></div>
          </div>
        </div>

        <!-- contact End -->
      </div>

      <!-- backGround Image End-->
    </div>
    <!-- Footer -->
    <div>
      <div class="bg-info text-white mt-5 p-4 text-center">
        Copyright © <%= new Date().getFullYear() %> Andranik Atoyan
      </div>
    </div>

    <!-- Footer End -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
