<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Andranik Atoyan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/stylesheets/main.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Dosis|Major+Mono+Display|Montserrat|Secular+One"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navbar -->
    <div class="mx-auto">
      <nav id='navbar' class="navbar fixed-top navbar-expand-lg ">
        <a class="navbar-brand" href="/">
         <div class="container-fluid"> <span id="navbarName"> 
          <span id="1" hidden>A</span>
          <span id="2" hidden>n</span>
          <span id="3" hidden>d</span>
          <span id="4" hidden>r</span>
          <span id="5" hidden>a</span>
          <span id="6" hidden>n</span>
          <span id="7" hidden>i</span>
          <span id="8" hidden>k</span>
          <span>&#8203;</span>
          <span id="9" hidden>A</span>
          <span id="10" hidden>t</span>
          <span id="11" hidden>o</span>
          <span id="12" hidden>y</span>
          <span id="13" hidden>a</span>
          <span id="14" hidden>n</span>
          <span id='mode'style="display:none"><%=mode %></span>
        </div>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav"></ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link " href="/download">
                <span id="downloadText" >
               </span
                >
                 <span>Download CV</span><br />
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- Navbar End -->

    <!--backgroundImage-->
    <div class="backgroundImage text-center">
      


       
        <!-- About -->

        <div class="about " id="about"">
          <h1 id='about-title'>
            <br />
            <br />
           
            hi
            <hr />
            <br>
          </h1>
          <p>
            <h3 id="about-text" class="container">
              <br>
              <br>

                 My name is Andranik Atoyan and I am passionate about Web Technologies.
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                <span><a href="https://no.linkedin.com/in/andranik-atoyan-627228112" class='grey-href'><i class="fab fa-linkedin fa-3x pl-3 pr-3 animated-icon"></i></a></span>
                <span><a href="https://github.com/atoyan" class='grey-href'><i class="fab fa-github fa-3x pl-3 pr-3 animated-icon"></i></a></span>
                <span><a href="mailto:atoyanandranik@gmail.com" class='grey-href'><i class="fas fa-envelope fa-3x pl-3 pr-3 animated-icon" ></i></a></span>
                 
                 
            </h3>
          </p>

          <hr>
        
        </div>
        <div id='navigation-arrow' class="fixed-bottom">
            
            <i
       onmouseover="this.style.cursor='pointer'"
       class="fas fa-chevron-down fa-3x"
       id="downButton"
     style="color:white"></i>
     
        </div>
        <!-- contact End -->
    

<!-- Projects -->

<div class="projects mt-5" id="projects" >
  <h1 id="projectsTitle">
    
    projects
    <hr  />
    <br />
    <br />
  </h1>
  <div class="row" >
    <div class="col-md">
      <div class="card-transparent border" >
        <img
          src="files/devground.gif"
          class="card-img-top thumbnail img-fluid"
          alt="DevGround"
        />
        <div class="card-body">
          
          <a
            href="https://devgroundapp.herokuapp.com/"
            class="btn btn-info"
            ><i class="fas fa-eye"></i></a
          >
          <a
            href="https://github.com/atoyan/DevGround"
            class="btn btn-success"
            ><i class="fab fa-github"></i></a
          >
        </div>
      </div>
    </div>
    <div class="col-md text-right ">
        <p class='project-description'>
            <h3 class='text-left'>
              DevGround
              <br><br>
            </h3>
            <p class='text-center'>
                <h5 class='project-description text-left'>A Social Network for developers.  Users can Sign up, create profiles, write posts and make comments on existing ones. Guest users can view all Signed up developer profiles.</h5>
            </p>
  
        </p>
    </div>
    
   
  </div>
  <hr>
  <hr>
  <div class="row">
     
      <div class="col-md text-center">
          <div class="card-transparent border" >
            <img
              class="thumbnail card-img-top img-fluid"
              src="files/yelpcamp.gif"
              class="card-img-top"
              alt="YelpCamp"
            />
            <div class="card-body">
                         <a
                href="http://websiteforcampers.herokuapp.com/"
                class="btn btn-info"
                ><i class="fas fa-eye"></i></a
              >
              <a
                href="https://github.com/atoyan/YelpCamp"
                class="btn btn-success"
                ><i class="fab fa-github"></i></a
              >
            </div>
          </div>
          
        </div>
        <div class="col-md text-left ">
            <p class='project-description'>
                <h3 class='text-left'>
                  YelpCamp
                  <br>
                  <br>
                </h3>
                <p class='text-center'>
                    <h5 class='project-description text-left'>A Website for campers.  Users can Sign up and create new camps.  and make comments on existing ones. Guest users can view all Signed up developer profiles.</h5>
                </p>
      
            </p>
           </div>
        
  </div>
     
  
</div>
<br>
<!-- Projects End -->

  

      

      <!-- backGround Image End-->
    </div>
    <!-- Footer -->
    <div>
      <div class="footer text-white p-3 text-center ">
        Copyright © <%= new Date().getFullYear() %> Andranik Atoyan
      </div>
    </div>

    <!-- Footer End -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
