html {
  scroll-behavior: smooth;
}
body {
  min-height: 1080px;
  margin: 0 auto;
  line-height: 1.6;
  letter-spacing: 2px;
}

.grey-href {
  color: lightgrey;
}
.social:hover {
  color: #0677a1;
}
.animated-icon {
  animation-name: titleAnimation;
  animation-duration: 3s;
}
.card-body {
  background-color: #2d4159;
}
.navbar {
  background-color: #59253a;
  border-color: white;
}
.navbar-toggler-icon {
  color: lightgrey;
  background: lightgrey;
}
.navbar span {
  color: lightgrey;
  font-family: "Montserrat", sans-serif;
}
.navbar i {
  color: lightgrey;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.projects {
  width: 100%;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  background: transparent;
  min-height: 800px;
  color: white;
}

.about {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  background-color: transparent;
  min-height: 1000px;

  background: #895061;
}
.backgroundImage {
  background: #0677a1;
}

#navbarName {
  font-family: "Montserrat", sans-serif;
}
.projects h3 {
  font-family: "Montserrat", sans-serif;
}
.projects h1 {
  font-family: "Major Mono Display", monospace;
}
.about h4 {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.project-description {
  font-family: "Montserrat", sans-serif;
  width: 80%;
}

.card-transparent {
  font-family: "Montserrat", sans-serif;
  color: lightgrey;
  width: 70%;
}
#downloadText {
  font-family: "Montserrat", sans-serif;
}
#downButton {
  margin-right: 0 auto;
  width: 80%;
}
.card {
  color: white;
}

#about-title {
  color: lightgray;
  animation-name: titleAnimation;
  animation-duration: 3s;
  font-family: "Major Mono Display", monospace;
}
#about-text {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: lightgrey;
}

.card-text {
  animation-name: title;
  animation-duration: 3s;
}

.card-title {
  color: white;
}

.footer {
  margin: 0 auto;
  background-color: #2d4159;
  color: lightgrey;
  font-family: "Montserrat", sans-serif;
}

#projects {
  margin: 0 auto;
  width: 80%;
  background: #0677a1;
  color: lightgrey;
}

#projectsTitle {
  animation-name: colorAnimation;
  animation-duration: 3s;
}

#navigation-arrow {
  vertical-align: bottom;

  animation-name: colorAnimation;
  animation-duration: 3s;
}

.animate {
  animation-name: colorAnimation;
  animation-duration: 3s;
}

#devground {
  background: url("/files/devground.jpg");
  background-size: contain;
}

#devground:hover {
  background: url("/files/devground.gif");
}
#yelpcamp {
  background: url("files/yelpcamp.jpg");
}
#yelpcamp:hover {
  background: url("files/yelpcamp.gif");
}
@keyframes colorAnimation {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

@keyframes reverseColorAnimation {
  from {
    color: white;
  }
  to {
    color: grey;
  }
}

@keyframes titleAnimation {
  from {
    color: #895061;
  }
  to {
    color: lightgrey;
  }
}
